.navbar.bg-light {
    background: #2575fc;
    background: -webkit-linear-gradient(left, #6a11cb, #2575fc);
    background: -o-linear-gradient(left, #6a11cb, #2575fc);
    background: -moz-linear-gradient(left, #6a11cb, #2575fc);
    background: linear-gradient(left, #6a11cb, #2575fc);
.form-control
{
    border-radius: 4.25rem;
}
}
body {
    background:#f2f5bc
}
.container {
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}









